notebooks/.env
# Ignorer tous les check points Jupyter Notebook
**/.ipynb_checkpoints 
anaconda_projects/
.virtual_documents/
.virtual_documents/
notebooks/credentials.json
notebooks/token.pickle
dashboard/data/*.tif
venv_env/
**/__pycache__/
**/.vscode/
